@tailwind base;
@tailwind components;
@tailwind utilities;

/* App-level resets and defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Links */
a {
  font-weight: 500;
  text-decoration: inherit;
}

/* Typography */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
